* {
    cursor: default;
}

html, body {
    margin: 0;
    width: 450px;
    height: 355px;
    overflow: auto;
}

body {
    font-family: "Microsoft YaHei UI", serif;
}

.hide {
    display: none;
}

.body::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, .1)
}

.body::-webkit-scrollbar-track {
    background-color: #eee
}

.body::-webkit-scrollbar-thumb {
    background-color: rgba(95, 95, 95, .4)
}

.body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(95, 95, 95, .7)
}

.body::-webkit-scrollbar-button:end, .items[data-v-0314f247]::-webkit-scrollbar-button:start {
    display: none
}

.container {
    color: #777;
}

.header {
    display: flex;
    height: 30px;
    line-height: 30px;
    padding: 10px 10px 9px 10px;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header .search {
    flex: 1;
    position: relative;
}

.header .search i {
    position: absolute;
    color: #757575;
    left: 2px;
    display: inline-block;
    width: 20px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    z-index: 10;
    bottom: 3px;
    font-size: 14px;
}

.header input {
    width: 230px;
    height: 26px;
    border: 1px solid #ccc;
    border-radius: 0;
    position: relative;
    padding-left: 20px;
    padding-right: 5px;
    outline: none;
}

.header input:hover {
    cursor: text;
}

.header .operation {
    flex: 0 0 140px;
    display: flex;
    padding: 0 10px;
    text-align: center;
}

.header .event.clear-download-item {
    flex: none;
}

.header .event i {
    font-size: 16px;
}

.header .event span {
    font-size: 14px;
}

.body {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#empty {
    font-size: 16px;
    text-align: center;
    height: 30px;
    width: 100px;
    line-height: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -35px;
}

.body .item {
    display: flex;
    box-sizing: border-box;
    position: relative;
    padding: 0 5px;
    border-bottom: 1px solid #ccc;
}

.body .item:hover {
    background: #f7f7f7;
}

.body .item.hide {
    display: none;
}

.body .item.not-exists {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.body .item.not-exists .info {
    text-decoration: line-through;
}

.body .type {
    flex: 0 0 60px;
}

.body .icon {
    height: 30px;
    display: block;
    overflow: hidden;
    margin: 15px;
}

.body .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    overflow: hidden;
    position: relative;
}

.body .name {
    flex: 1;
    line-height: 30px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.body .progress {
    height: 4px;
    position: absolute;
    top: 28px;
    left: 5px;
    right: 5px;
}

.body .total {
    background: #dfdedf;
    height: 4px;
}

.body .current {
    background: #367eed;
    height: 100%;
    transition: width 0.25s;
}

.body .status {
    flex: 1;
    line-height: 30px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.body .operation {
    flex: 0 0 110px;
    display: flex;
    line-height: 60px;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
}

.body .event {
    flex: 1;
    height: 60px;
}

.body .event i {
    font-size: 14px;
}

.body .event .accept,
.body .event .reject {
    border: none;
    border-radius: 0;
    padding: 0;
    width: 30px;
    height: 26px;
    line-height: 26px;
    outline: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 17px;
    border-bottom: 2px solid #777;
}

.body .event .accept:hover {
    color: #dc1300;
    border-bottom-color: #DC1300;
}

.body .event .reject:hover {
    color: #367eed;
    border-bottom-color: #367eed;
}

.event {
    font-size: 0;
    flex: 1;
    padding: 0 5px;
    cursor: pointer;
}

.event * {
    cursor: pointer;
}

.body .danger {
    flex: 1;
    line-height: 30px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #dc1300;
}

.body .danger .danger-type {
    position: relative;
}

.body .danger .danger-type:after {
    height: 2px;
    content: '';
    background: #dc1300;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 110;
}

.contextmenu {
    display: none;
    position: absolute;
    width: 100px;
    background: #FFFFFF;
    border-radius: 0;
    overflow: hidden;
    z-index: 99;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #ccc;
    margin: 0;
    padding: 0;
}

.contextmenu li {
    border-left: 3px solid transparent;
    transition: ease 0.3s;
    margin: 0;
    padding: 0;
}

.contextmenu li:hover {
    background: #eee;
    border-left: 3px solid #ccc;
}

.contextmenu li span {
    display: block;
    padding: 5px 10px;
    color: #757575;
    text-decoration: none;
    transition: ease 0.3s;
}

.contextmenu li:hover span {
    color: #FF0000;
}