body {
    font-size: 16px;
}

/*以下checkbox*/

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    padding: 2px 5px;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    background: #F7836D;
    border: 2px solid #e65d59;
    width: 50px;
    height: 20px;
    line-height: 20px;
    user-select: none;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 15px;
}

input[type=checkbox] + label:before {
    content: ' ';
    position: absolute;
    background: #FFF;
    top: 0;
    z-index: 99999;
    left: 0;
    width: 30px;
    color: #FFF;
    height: 20px;
    padding: 2px 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    transition: all 0.1s ease-in;
    border-radius: 15px 0 0 15px;
}

input[type=checkbox] + label:after {
    content: '否';
    position: absolute;
    font-size: 1em;
    color: white;
    font-weight: bold;
    border-radius: 0;
    transition: all 0.1s ease-in;
}

input[type=checkbox]:checked + label {
    background: #67A5DF;
    border: 2px solid #3a749b;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1), 0 0 10px rgba(146, 196, 245, 0.4);
}

input[type=checkbox]:checked + label:after {
    content: '是';
    left: 8px;
}

input[type=checkbox]:checked + label:before {
    content: ' ';
    position: absolute;
    z-index: 99999;
    left: 30px;
    border-radius: 0 15px 15px 0;
}

input[type=checkbox] + label:after {
    right: 8px;
}

/* 以下radio */
input[type=radio] {
    /*去除浏览器默认样式*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*自定义样式*/
    width: 22px;
    height: 22px;
    border: 2px solid #e65d59;
    border-radius: 50%;
    outline: none;
    position: relative;
    margin: 0;
    vertical-align: middle;
}

input[type=radio]::after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: #F7836D;
    border-radius: 12px;
    position: absolute;
    top: 2px;
    left: 2px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
}

input[type=radio]:checked {
    border: 2px solid #3a749b;
}

input[type=radio]:checked::after {
    background: #67A5DF;
    transform: scale(1);
}

input[type=radio] + label {
    vertical-align: middle;
}

table {
    margin: 50px auto 0 auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(45, 45, 45);
        color: rgb(247,247,247);
    }
}